{% extends "base.html" %}

{% block content %}

<h1>All {{ name }}s</h1>
<div class="form-panel">
    <h2 class="text-center">Create New {{ name }}</h2>
    <form role="form" class="form" action="/{{ name|lower }}" method="POST">
        {% for field in form %}
        <div class="form-group">
            {{ field.label }}
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
<table class="table">
    <thead>
        <th>Go</th>
        {% for column, value in resources[0] %}
            <th>{{ column }}</th>
        {% endfor %}
    </thead>
    <tbody>
    {% for resource in resources %}
    <tr><td><a href="{{ resource.url() }}"><i class="fa fa-arrow-right"></i></a></td>
            {% for column, value in resource %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
