{% extends "base.html" %}

{% block content %}

    <h1>{{ name|capitalize }}</h1>
    <h3><a href="/{{ name }}">list all {{ name }}s</a></h3>
    <hr/>
    <form role="form" class="form" action="{{ resource.url() }}/edit" method="post">
        {% for field in form %}
        <div class="form-group">
            {{ field.label }}
            {{ field }}
        </div>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </form>

    <form method="post" action="{{ resource.url() }}/delete">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}
